<!DOCTYPE html>
<html>
<head>
    <title id="pageTitle">Let's rock!</title>
    <link rel="icon" href="../static/image/page_icon.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
</head>
<style>
    .container {
        margin-bottom: 20px;
    }

    .chart-container {
        width: 100%;
    }
</style>
<body>
    <div class="container">
        <div class="chart-container">
            <canvas id="mktSizeCanvas"></canvas>
        </div>
    </div>
    <div class="container">
        <div class="chart-container">
            <canvas id="OiSizeCanvas"></canvas>
        </div>
    </div>

    <script src="../static/js/mktSize.js"></script>

</body>
</html>