<!DOCTYPE html>
<html>
<head>
    <title id="pageTitle">Let's rock!</title>
    <link rel="icon" href="../static/image/page_icon.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
    <style>
        body {
            background-color: #0b0c0ce0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .liveChartsContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    </style>
</head>
<body>
    <div id="liveChartsContainer" class="liveChartsContainer"></div>
    
    <script src="../static/js/topSymbols.js"></script>
</body>
</html>